@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	margin-top: 50px;
	position: relative;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #ff4e50;
	letter-spacing: 2px;
	padding-top: 9px;
	text-transform: uppercase;
	font-weight: bold;
	&:hover {
		text-decoration: none;
	}
}

/* home */

.pick {
	position: fixed;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	height: 50px;
	width: 200px;
	background-color: #639f9d;
	text-align: center;
	letter-spacing: 1px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	&:hover {
		text-decoration: none;
		color: #e7f4fe;
	}
}
